* {
  border: none;
  border-radius: 0px;
  font-family:
    Iosevka,
    FontAwesome,
    Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  /* background: rgba(30, 30, 46, 0.5); */
  background: transparent;
  /* border-bottom: 1px solid #101010; */
  color: #f6c2a5;
}

#workspaces {
  background: #101010;
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 16px;
  border: solid 0px #f6c2a5;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: #928374;
}

#workspaces button.active {
  color: #f6c2a5;
  background-color: transparent;
  border-radius: 16px;
}

#workspaces button:hover {
  background-color: #ea9a7d;
  color: black;
  border-radius: 16px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network,
#custom-randwall,
#custom-launcher {
  background: #101010;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 8px;
  border: solid 0px #f6c2a5;
}

#custom-date {
  color: #d3869b;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#tray {
  background: #101010;
  margin: 5px 5px 5px 5px;
  border-radius: 16px;
  padding: 0px 5px;
}

#clock {
  color: #ea9a7d;
  background-color: #101010;
  border-radius: 0px 0px 0px 24px;
  padding-left: 13px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  background-color: #24283b;
  color: #db4b4b;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}

#network {
  color: #f6c2a5;
  border-radius: 8px;
  margin-right: 5px;
}

#pulseaudio {
  color: #f6c2a5;
  border-radius: 8px;
  margin-left: 0px;
}

#pulseaudio.muted {
  background: transparent;
  color: #928374;
  border-radius: 8px;
  margin-left: 0px;
}

#custom-randwall {
  color: #f6c2a5;
  background-color: #101010;
  border-radius: 8px;
  margin-right: 0px;
}

#custom-launcher {
  color: #d22f32;
  background-color: #101010;
  border-radius: 0px 24px 0px 0px;
  margin: 0px 0px 0px 0px;
  padding: 0 20px 0 13px;
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #fb4934;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#custom-playerctl {
  background: #101010;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: transparent;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background: #101010;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e5809e;
  background-color: #1e1e2e;
}

#cpu {
  background-color: #101010;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#memory {
  background-color: #101010;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#disk {
  background-color: #101010;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#custom-hyprpicker {
  background-color: #101010;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 11px 0px 9px;
  font-weight: bold;
}

#custom-randwall,
#custom-playerctl {
  padding: 5px 7px;
  margin: 5px 10px;
}
